{% extends 'base.html' %}
{% block content %}
{% include 'navbar.html' %}
<div class="container">
    <div class="row mt-5">
        {{ divs[4] | safe }}
    </div>
    <div class="row mt-5">
        <form name="state-form" action="" method="POST">
            <select class="my-state-menu" name="state-select" style="padding:8px;border-radius:8px;">
                {% for state in states %}
                    <option value="{{state}}" {% if selected_state=='{{state}}' %} selected {% endif %}>{{state}}</option>
                {% endfor %}
            </select>
            <button class="submit-btn" type="submit">Apply</button>
        </form>
    </div>
    <div class="row mt-5">
        <div class="col-6">
            {{ divs[1] | safe }}
        </div>
        <div class="col-6">
            {{ divs[0] | safe }}
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-6">
            {{ divs[2] | safe }}
        </div>
        <div class="col-6">
            {{ divs[3] | safe }}
        </div>
    </div>
</div>

{% for script in scripts %}
    {{ script | safe }}
<!-- {{ script_us_map | safe }}
{{ script_death_chart | safe }}
{{ script_cases_line | safe }}
{{ script_death_line | safe }} -->
{% endfor %}
{% endblock %}